*{
    box-sizing: border-box;
}
.container{
    margin: auto;
    width: 25%;
}  
.container > h1{
    color: greenyellow;
}
#Principal-input {
    display: block;
    width: 20rem;
    margin-bottom: 10px; 
    margin-top: 5px;   

}
#rate-input{
    display: block;
    background-color: blue;
    width: 20rem;
    accent-color: blue;

}


#period{
    display: block;
    width: 20rem;
    text-align: center;
    margin-bottom: 10px; 
    margin-top: 5px;   

}
#display-interest{
    color: greenyellow; 

}
#result{
    display: block;
}
#cal-btn{
    width: 20rem;
    background: green;
    color: white; 

}
#ru{
    width: 20rem;
    background: greenyellow;
    text-align: center;
    margin-bottom: 10px; 
    margin-top: 5px;  
    color: white; 
}
@media only screen and (min-width : 300px ) and (max-width :600px) {
    .heading{
        text-align: center;
        width: auto;
    }
    .container{
        padding: auto;
        margin: auto;
        width: auto;
    }
}

